.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Aumenté el espacio entre las tareas */
  padding: 5px; /* Añadí un relleno para que las tareas tengan un espacio alrededor */
  border: 1px solid #ccc; /* Añadí un borde para separar visualmente las tareas */
  border-radius: 5px; /* Añadí bordes redondeados a las tareas */
}

.task-checkbox {
  margin-right: 10px;
}

.task-actions {
  margin-left: auto;
}

.task-name {
  flex-grow: 1; /* Hace que el nombre de la tarea ocupe todo el espacio disponible */
}